main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background: radial-gradient(circle at center, #002244 0%, #000a1a 46%, #000a1a 90%);
}

.container span {
    color:#00bfff;
    text-decoration: none;
    font-weight: bold;
}

.container p {
    color: gray;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    background: #000a1a;
    height: 100vh;
    text-align: center;
    padding-top: 10vh;
}

.projects h1 {
    font-size: 2.5rem;
}